<nav class="top-bar">
  <ul class="title-area">
    <li class="name"><h1><%= link_to "Turbolink Transitions", :root %></h1></li>
  </ul>
  <section class="top-bar-section">
    <ul>
      <li><%= link_to "Transition Demo", transition_demo_path(rand(100)) %></li>
    </ul>
  </section>
</nav>
